
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

@section Scripts {
    <script>
        (async () => {
            //Client 傳遞資料給 API – HTTP GET
            //QueryString 查詢字串 : 
            // 將資料放在網址的後面用『?』隔開，資料格式為 key=value，多筆資料時用『&』隔開
            const url = '@Url.Content("~/api/register")?name=Tom&age=30&email=Tom@company.com';
            console.log(url);
            const response = await fetch(url);
            console.log(response);
            const data = await response.text();
            console.log(data);

        })();

    </script>
}