@{
    ViewData["Title"] = "Spots";
}

<h1>Spots</h1>
<div class="row">
    <div class="col-3" style="display:flex"></div>
    @* 分頁按鈕 *@
    <div class="col-6">
        <nav aria-label="Page navigation example" >
            <ul class="pagination" id="ul1">
            </ul>
        </nav>
    </div>
    @* 搜尋字框 *@
    <div class="col-3" >
        <input type="search" class="form-control " placeholder="景點搜尋" id="inputKeyword"  />
        <div class="list-group" id="divResult" ></div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" id="div1" style="position:absolute ; z-index: 10;"></div>

@section Scripts {
    <script>
        const div1 = document.querySelector('#div1');
        const ulPaging = document.querySelector('#ul1');
        const inpKeyword = document.querySelector('#inputKeyword');
        //JSON
        const searchData = {
            "categoryId": 0,
            "keyword": "北投",
            "page": 1,
            "pageSize": 9,
            "sortType": "asc",
            "sortBy": "",
            "title": "",
        };

        const loadSpots = async () => {
            const response = await fetch('@Url.Content("~/api/spots")', {
                "method": "POST",
                "body": JSON.stringify(searchData),
                //query string 和 formdata 不用加上"headers" :
                "headers": { "Content-Type": "application/json" }
            });
            const datas = await response.json();
            //console.log(datas);
            //console.log(datas.spotsResult);
            //讀資料、顯示資料
            const divSpots = datas.spotsResult.map(spot => {
                //解構賦值
                const { spotId, spotTitle, spotImage, address, spotDescription } = spot;
                return (`
                      <div class="col">
                          <div class="card h-100">
                                              <img src="${spotImage}" class="card-img-top" alt="${spotTitle}">
                              <div class="card-body">
                                  <h5 class="card-title" >${spotId} - ${spotTitle}</h5>
                                  <p class="card-text">${spotDescription.length <= 100 ? spotDescription : spotDescription.substring(0, 100)}</p>
                              </div>
                              <div class="card-footer">
                                  <small class="text-body-secondary">${address}</small>
                              </div>
                          </div>
                      </div>
                      `)                                  
            })
            div1.innerHTML = divSpots.join("");

            const atitles = datas.spotsResult.map(title => {
                const { spotTitle } = title;
                return (` <a style="position:absolute ; z-index: 20; onclick="clickHandler('${spotTitle}')" href="#" class="list-group-item list-group-item-action">${spotTitle}</a>`)

            });
            divResult.innerHTML = atitles.join("");

            //分頁
            // console.log(datas.totalPages);
            let liPaging = "";
            for (let i = 1, max = datas.totalPages; i <= max; i++) {
                liPaging += ` <li class="page-item" " onclick="pagingHandler(${i})"><a class="page-link" href="#">${i}</a></li>`
            }
            ulPaging.innerHTML = liPaging;

            inpKeyword.addEventListener('input', async (event) => {
                //console.log(event);
                console.log(event.target.value);
                searchData.title = event.target.value;

                


            })
        };
        //點選第幾頁的分頁
        const pagingHandler = page => {
            searchData.page = page;
            //console.log(page);
            loadSpots();
        }

        //關鍵字搜尋//keydown:按下Enter鍵
        inpKeyword.addEventListener('keydown', event => {
            // console.log(event.which); //按下Enter 會得到 13
            if (event.which === 13) {
                //target
                searchData.keyword = event.target.value;
                //做搜尋時，回第一頁
                searchData.page = 2/4;
                loadSpots();
            }
        })


        loadSpots();

        //div1.addEventListener('click', (e) => { console.log(e.target.getAttribute('value') })
    </script>
}

